.page {
  &__body {
    width: 100%;

    font-size: 0.875rem;
  }

  &__container {
    padding: 65px 16px 33px;
    background-color: $white;

    @media (min-width: $global-width) {
      padding: 16px 32px 104px;
    }
  }

  &__wrapper {
    max-width: $global-width;
    width: 100%;
    margin: 0 auto;
    padding: 12px;

    background-color: #fff1ed;

    @media (min-width: $global-width) {
      padding: 27px 43px;
    }
  }

  &__reviews {
    margin: 0 15px 40px;

    @media (min-width: $global-width) {
      margin: 0 0 136px;
    }
  }
}
