<section class="reviews page__reviews">
  <h2 class="reviews__title">Отзывы</h2>
  <div class="reviews__slider grid-X owl-carousel owl-theme" id="slider">

      <blockquote class="reviews__slide ceil">
        <div class="reviews__avatar">
          <img src="assets/img/avatar-01.jpg" width="82" height="82" alt="Аватар автора отзыва">
        </div>
        <cite class="reviews__author">Влад Гончаров</cite>
        <a href="#" class="reviews__link">vk.com/ex3der</a>
        <p class="reviews__message">Предсознательное иллюстрирует девиантный филогенез. Восприятие, на первый   взгляд, отчуждает генезис. Филогенез, например, слабопроницаем. Действие притягивает депрессивный инсайт.</p>
      </blockquote>

      <blockquote class="reviews__slide ceil">
        <div class="reviews__avatar">
          <img src="assets/img/avatar-02.jpg" width="82" height="82" alt="Аватар автора отзыва">
        </div>
        <cite class="reviews__author">Ваня Мирошников</cite>
        <a href="#" class="reviews__link">vk.com/id16362672</a>
        <p class="reviews__message">Предсознательное иллюстрирует девиантный филогенез. Восприятие, на первый   взгляд, отчуждает генезис. Филогенез, например, слабопроницаем. Действие притягивает депрессивный инсайт.</p>
      </blockquote>

      <blockquote class="reviews__slide ceil">
        <div class="reviews__avatar">
          <img src="assets/img/avatar-03.jpg" width="82" height="82" alt="Аватар автора отзыва">
        </div>
        <cite class="reviews__author">Алексей Волков</cite>
        <a href="#" class="reviews__link">vk.com/asgalex</a>
        <p class="reviews__message">Предсознательное иллюстрирует девиантный филогенез. Восприятие, на первый   взгляд, отчуждает генезис. Филогенез, например, слабопроницаем. Действие притягивает депрессивный инсайт.</p>
      </blockquote>

      <blockquote class="reviews__slide ceil">
        <div class="reviews__avatar">
          <img src="assets/img/avatar-01.jpg" width="82" height="82" alt="Аватар автора отзыва">
        </div>
        <cite class="reviews__author">Влад Гончаров</cite>
        <a href="#" class="reviews__link">vk.com/ex3der</a>
        <p class="reviews__message">Предсознательное иллюстрирует девиантный филогенез. Восприятие, на первый   взгляд, отчуждает генезис. Филогенез, например, слабопроницаем. Действие притягивает депрессивный инсайт.</p>
      </blockquote>

  </div>

<script id="slide" type="text/x-handlebars-template">

  <blockquote class="reviews__slide">
    <div class="reviews__avatar">
      <img src="assets/img/{{ avatar }}" width="82" height="82" alt="Аватар автора отзыва">
    </div>
    <cite class="reviews__author">{{ author }}</cite>
    <a href="#" class="reviews__link">{{ url }}</a>
    <p class="reviews__message">{{ message }}</p>
  </blockquote>

</script>

</section>
