<!doctype html>
<html class="page no-js" lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Markup</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
  </head>
<body class="page__body">
  <header class="header"></header>
  <div class="page__wrapper">
    <main class="main page__main">
      {{> body}}
    </main>
  </div>
  <footer class="footer"></footer>

<script src="{{root}}assets/js/app.js"></script>
</body>
</html>
